.cache/
__pycache__

.DS_Store
venv/

# Retain external module
!lib/mvmd/*

# Explicitly release files
confounds/*
*.py
*ipynb
*.sh

# Notebooks
!plotting/plot_timeseries.ipynb
!plotting/plot_trial_blocks.ipynb
!plotting/simulate_k.ipynb

# Python Scripts
!utils/convert_weights.py
!plotting/plot_config.py
!plotting/plot_fisher_z_transform.py
!plotting/plot_hrf.py
!plotting/plot_mvmd_modes.ipynb

# Bash Scripts
!utils/repack_hdf5.sh