.cache/
**/__pycache__/*

.DS_Store
venv/*
**/masters_thesis.egg-info/


# Explicitly release files
confounds/*
figures/*
*.py
*ipynb
*.sh
!**/__init__.py

# Retain external module
!lib/mvmd/*
!lib/fs/*

# Notebooks
!plotting/plot_timeseries.ipynb
!plotting/plot_trial_blocks.ipynb
!plotting/simulate_k.ipynb
!plotting/plot_mvmd_modes.ipynb
!plotting/plot_event_timing.ipynb
!plotting/quantize_timeseries.ipynb
!plotting/plot_cwt_scalogram.ipynb
!plotting/plot_hht_spectrogram.ipynb
!plotting/plot_hht_cwt_comparison.ipynb

# Python Scripts
!utils/convert_weights.py
!utils/move_and_rename_h5_datasets.py

# Plotting
!plotting/plot_config.py
!plotting/plot_fisher_z_transform.py
!plotting/plot_hrf.py
!plotting/knn_results_cmp.py
!plotting/analytic_signal_spectrum.py
!plotting/knn_probabilistic_results.py
!plotting/morlet_wl.py
!plotting/vmd_illustration.py
!plotting/datasplit.py
!plotting/plot_knn_k_selection.py
!plotting/plot_mvmd_underbinning.py
!plotting/plot_conv_illustration.py
!plotting/plot_dense_layer_illustration.py
!plotting/plot_densenet201_feature_extraction.py
!plotting/plot_modes_multichannel.py
!plotting/plot_multichannel_heatmap.py
!plotting/plot_mvmd_modes_distribution.py
!plotting/plot_mvmd_pipeline_
!plotting/plot_pooling_illustration.py
!plotting/plot_pooling_max_avg.py
!plotting/

# Bash Scripts
!utils/repack_hdf5.sh
