.cache/
__pycache__

.DS_Store
venv/
**/masters_thesis.egg-info/


# Explicitly release files
confounds/*
figures/*
*.py
*ipynb
*.sh
!**/__init__.py

# Retain external module
!lib/mvmd/*
!lib/fs/*

# Notebooks
!plotting/plot_timeseries.ipynb
!plotting/plot_trial_blocks.ipynb
!plotting/simulate_k.ipynb
!plotting/plot_mvmd_modes.ipynb
!plotting/plot_event_timing.ipynb
!plotting/quantize_timeseries.ipynb

# Python Scripts
!utils/convert_weights.py
!plotting/plot_config.py
!plotting/plot_fisher_z_transform.py
!plotting/plot_hrf.py
!plotting/knn_results_cmp.py
!plotting/analytic_signal_spectrum.py
!plotting/knn_probabilistic_results.py
!plotting/morlet_wl.py
!plotting/vmd_illustration.py

# Bash Scripts
!utils/repack_hdf5.sh